.modalContainer{
    position: fixed;
    top: -100%;
    left: 50%;
    transition: top .5s ease;
    transform: translate(-50%, -50%);
}


.show{
    top: 50%;
    transition: top .5s ease;
}

.modal{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: white;
}

.dimmer{
    background-color: rgba(0, 0, 0, 0.5) !important; /* Semi-transparent black overlay */
} 

.dimmer2{
    background-color: rgba(0, 0, 0, 0) !important;
}

.dimmer3{
    background-color: rgba(0, 0, 0, 0) !important;
    border: 1px solid rgba(0, 0, 0, 0) !important;
}

.cancel-button{
    position: absolute;
    right: 2rem;
}
.App{
    height: 100vh;
}